.resizable-sidebar-custom {
  position: fixed !important;
  z-index: 48 !important;;
  background: white !important;;
  height: 100% !important;  
  top: 100px;
  right: 0px;
}

.ltr-handle {
  left: 0;
}

.rtl-handle {
  right: 0;
}