.box-title-desc {
  @apply text-defaulttextcolor text-[.75rem] font-[400] me-auto dark:text-defaulttextcolor/70;
}

.custom-before {
  @apply before:absolute before:h-4 before:w-[0.2rem] before:top-[0.15rem] before:-start-[0.65rem] before:bg-gradient-to-b before:from-primary/50 before:to-secondary/50 before:rounded-md;
}

.box-title {
  @apply text-[.800rem];
}

/* .main-content {
  @apply pt-4;
} */

.bg-custom-blue {
  background-color: rgb(58 88 146);
}

.bg-custom-blue:hover {
  background-color: rgb(45 65 104 / 1);
}

.app-header {
  z-index: 50 !important;
}

.app-sidebar {
  z-index: 51 !important;
}

.erp-modal {
  z-index: 52 !important;
}

.modal-content {
  margin-bottom: 70px;
}

.combobox-dropdown {
  z-index: 40 !important;
}

.combobox-dropdown-modal {
  z-index: 60 !important;
}

/* .dx-datagrid-rowsview .dx-datagrid-content .dx-row-lines > td {
  border-bottom: 0px solid #ddd !important;
} */
/* .main-content {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
} */
.drill-down-link {
  color: #1976d2;
  /* Link color */
  text-decoration: underline;
  /* Underline for the link */
  cursor: pointer;
  /* Pointer cursor for better UX */
}

.grid-preference-form input {
  max-height: 27px !important;
}

.grid-preference-form select {
  max-height: 27px !important;
}

.react-resizable {
  position: relative;
}

.custom-handle {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  /* Changed from top/bottom to height for clarity */
  cursor: ew-resize;
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

.custom-handle.ltr {
  right: -5px;
}

.custom-handle.rtl {
  left: -5px;
}

.custom-handle:hover {
  background: rgba(0, 0, 0, 0.2);
}

.custom-handle.corner.se {
  right: -5px;
  bottom: -5px;
}

.custom-handle.corner.sw {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}

div:where(.swal2-icon).swal2-error.swal2-icon-show .swal2-x-mark {
  animation: swal2-animate-error-x-mark .5s !important;
  left: 7px !important;
  top: -5px !important;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=left] {
  left: 0.0625em !important;
  transform: rotate(45deg) !important;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=right] {
  right: 1em !important;
  transform: rotate(-45deg) !important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
  position: absolute !important;
  z-index: 2 !important;
  top: -0.25em !important;
  left: 0.25em !important;
  box-sizing: content-box !important;
  width: 100% !important;
  height: 100% !important;
  border: .25em solid rgba(165, 220, 134, .3) !important;
  border-radius: 50% !important;
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=long] {
  top: 2.375em !important;
  right: -0.5em !important;
  width: 2.9375em !important;
  transform: rotate(-45deg) !important;
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=tip] {
  top: 2.875em !important;
  left: .8125em !important;
  width: 1.5625em !important;
  transform: rotate(45deg) !important;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.bordered-tab .MuiTabs-scroller {
  border-bottom: solid 1px #cfe6fd;
}

.grid-error-cell {
  background: #ffd0d0;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/font/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../assets/font/FiraSans/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../assets/font/FiraSans/FiraSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../assets/font/FiraSans/FiraSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../../assets/font/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../../assets/font/RobotoMono/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../../assets/font/RobotoMono/RobotoMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

.dx-scrollbar-horizontal .dx-scrollable-scroll-content {
  height: 1rem !important;
}

.dx-scrollbar-horizontal {
  transition: background-color 1000s linear 1000s, height 1000s linear 1000s !important;
  /* transform: none !important; */
  height: 1rem !important;
}

.dx-scrollbar-horizontal .dx-scrollable-scroll {
  height: 15px !important;
}

.dx-scrollbar-vertical .dx-scrollable-scroll-content {
  width: 1rem !important;
}

.dx-scrollbar-vertical {
  transition: background-color 1000s linear 1000s, width 1000s linear 1000s !important;
  /* transform: none !important; */
  width: 1rem !important;
}

.dx-scrollbar-vertical .dx-scrollable-scroll {
  width: 15px !important;
}

/* .css-p1olib-MuiAutocomplete-endAdornment{
  left: 0 !important;
} */

:dir(ltr) .css-p1olib-MuiAutocomplete-endAdornment {
  right: 0 !important;
}

:dir(rtl) .css-p1olib-MuiAutocomplete-endAdornment {
  left: 0 !important;
  right: auto !important;
}

/* standard */

.MuiInput-root .MuiInput-input {
  padding-top: 10px !important;
}

.MuiInputBase-root .MuiInput-input {
  padding: 10px 0 0 0 !important;
}

.MuiInputBase-root .MuiInput-input {
  padding: 10px 0 0 0 !important;
}

.MuiInputBase-root .MuiOutlinedInput-input,
.MuiInputBase-root .MuiFilledInput-input,
.MuiInputBase-root .MuiInput-input {
  padding: 10px 0 0 0 !important;
}

/* outlined */

.MuiInputBase-root .MuiOutlinedInput-input {
  padding: 0 0 5px 4PX !important;
}

/* filled */

.MuiInputBase-root .MuiFilledInput-input {
  padding: 8px 0 0 0 !important;
}

.MuiFilledInput-root .MuiFilledInput-input {
  padding: 7px 0px 0 0 !important;
}

.MuiInputBase-root .MuiFilledInput-input {
  padding: 8px 0 0 7px !important;
}

.MuiInputBase-root .MuiFilledInput-input {
  padding: 8px 0 0 8px !important;
}

.dx-datagrid-summary-item {
  white-space: nowrap !important;
  overflow: visible !important;
}

.dark .font-normal {
  color: white;
}

.dark input {
  color-scheme: dark;
}

.dx-checkbox-indeterminate .dx-checkbox-icon::before {
  background-color: transparent !important;
}

/* .bg-report {
  position: relative;
  width: 100%;
}

.bg-report::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/reports-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2; 
}

.bg-report .flex {
  position: relative;
  z-index: 1;
} */

.dark .dark-scrollbar {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 #333;
  /* For Firefox */
}

.secondaryBorder {
  @apply border border-stone-200 shadow-sm;
}

.side-menu {
  fill: transparent !important;
  border-radius: 0 !important;
}

.full-available-width {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mobile-screen .combo-box-opened {

  position: fixed;
    width: 100%;
    top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    /* background: #f1f1f1; */
    height: 100%;
    z-index: 55;
    background-color: rgb(241 241 241 / 44%);
    backdrop-filter: blur(3px);
}
.combo-box-closed {

  position: relative;
}