
.box-title-desc {
  @apply text-defaulttextcolor text-[.75rem] font-[400] me-auto dark:text-defaulttextcolor/70;
}
.custom-before {
  @apply before:absolute before:h-4 before:w-[0.2rem] before:top-[0.15rem] before:-start-[0.65rem] before:bg-gradient-to-b before:from-primary/50 before:to-secondary/50 before:rounded-md;
}
.box-title {
  @apply text-[.800rem];
}
.main-content {
  @apply pt-4;
}

.bg-custom-blue {
  background-color: rgb(58 88 146);
}
.bg-custom-blue:hover {
  background-color: rgb(45 65 104 / 1);
}
/* .dx-datagrid-rowsview .dx-datagrid-content .dx-row-lines > td {
  border-bottom: 0px solid #ddd !important;
} */
.main-content {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}